.win {
	border: 0px;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	top: 50px;
	left: 50px;
	/*right: auto;
	bottom: auto;*/
	position: absolute;
	
}
.winbuttons {
	top: 1px;
	right: 5px;
	padding: 3px;
	z-index: 10;
	width: 59px;
	height: 19px;
	white-space: nowrap;
	text-align: right;
	position: absolute;
	background-image: url(./images/winbutnback.png);
}
.winbuttonclose,
.winbuttonminimize,
.winbuttonmaximize {
	z-index: 10;
	display: inline;
	width: 16px;
	height: 15px;
	float: right;
}
.winbuttonclose {
	background-image: url(./images/tsunamiclose.png);
}
.winbuttonminimize {
	background-image: url(.images/tsunamiminimize.png);
}
.winbuttonmaximize {
	background-image: url(./images/tsunamimaximize.png);
}
.winhandle {
	white-space: nowrap;
	/*width: 100%;*/
	position: absolute;
	top: 0px;
	left: 19px;
	right: 17px;
	margin: 0px;
	padding-top: 2px;
	z-index: 1;
    height: 27px;
	background-image: url(./images/tsunamiwindow_topcenter.png);
}
.wintitlebar {
	height: 27px;
	cursor: default;
	overflow: hidden;
	vertical-align: middle;
	color: white;
	font-weight: bold;
	/*margin: 2px 2px 2px 2px;*/
}
.winbody {
	background-color: white;
	overflow: hidden;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
	position: absolute;
	top: 27px;
	left: 1px;
	right: 1px;
	bottom: 1px;
}
.winrightcorner,
.winleftcorner {
	height: 27px;
	z-index: 1;
}
.winrightcorner {
	background-image: url(./images/tsunamiwindow_topright.png);
	float: right;
	width: 17px;
}
.winleftcorner {
	background-image: url(./images/tsunamiwindow_topleft.png);
	float: left;
	width: 19px;
}
.winresize {
	width: 5px;
	height: 5px;
	position: absolute;
	bottom: 0px;
	right: 0px;
	cursor: se-resize;
}

.wininnerbody {
	overflow: hidden;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

