
/*****
		dijit.form.Button
		dijit.form.DropDownButton
		dijit.form.ComboButton
		dijit.form.ComboBox (partial)
 *****/

.dijit .dijitButtonNode {
	/* enabled state - inner */
	/* border:1px outset #a0a0a0; */
	border: 1px solid #8ba0bd;
	border-bottom:1px solid #657c9c;
	padding: 0.1em 0.2em 0.2em 0.2em; 
	background: #bcd5f0 url("../images/buttonEnabled.png") repeat-x top left;
}

.dijit .dijitButtonNode button { 
	border: 0px; 
	background-color: transparent; 
} 
 
.dijit .dijitButtonText {
	text-align: center; 
	padding: 0 0.3em;
}

.dijit .dijitComboBox .dijitButtonNode {
	border-width: 0px 0px 0px 1px;
}

.dijit .dijitArrowButton {
	color: #111;
}

.dijit .dijitComboButton .dijitDownArrowButton {
	padding-right:4px;
}

.dj_ff2 .dijit .dijitComboButton .dijitButtonContentsFocused,
.dj_ff2 .dijit .dijitComboButton .dijitDownArrowButtonFocused {
	border: 1px black dotted !important;
}

.dijit .dijitButtonDisabled .dijitButtonNode,
.dijit .dijitToggleButtonDisabled .dijitButtonNode,
.dijit .dijitDropDownButtonDisabled .dijitButtonNode,
.dijit .dijitComboButtonDisabled .dijitButtonNode,
.dijit .dijitComboBoxDisabled,
.dijit .dijitSpinnerDisabled,
.dijit .dijitSpinnerDisabled .dijitButtonNode {
	/* disabled state - inner */
	border-color: #b9bbdd #b9bbdd #b9bbdd #b9bbdd;
	background:#c3d3e5 url("../images/buttonDisabled.png") top repeat-x;
	opacity: 0.60; /* Safari, Opera and Mozilla */
}

.dijit .dijitButtonHover .dijitButtonNode,
.dijit .dijitButtonNodeHover,
.dijit .dijitToggleButtonHover .dijitButtonNode,
.dijit .dijitDropDownButtonHover .dijitButtonNode,
.dijit .dijitComboButtonHover .dijitButtonContents,
.dijit .dijitComboButtonDownArrowHover .dijitDownArrowButton,
.dijit .dijitComboBoxHover .dijitDownArrowButton,
.dijit .dijitSpinnerUpArrowHover .dijitUpArrowButton,
.dijit .dijitSpinnerDownArrowHover .dijitDownArrowButton {
	/* hover state - inner */
	/* TODO: change from Hover to Selected so that button is still highlighted while drop down is being used */
	color:#243C5F;
	background:#acc5e2 url("../images/buttonHover.png") repeat-x top left;
}

.dijit .dijitSpinnerUpArrowActive .dijitUpArrowButton,
.dijit .dijitSpinnerDownArrowActive .dijitDownArrowButton,
.dijit .dijitButtonActive .dijitButtonNode,
.dijit .dijitToggleButtonActive .dijitButtonNode,
.dijit .dijitDropDownButtonActive .dijitButtonNode,
.dijit .dijitComboButtonActive .dijitButtonContents,
.dijit .dijitDownArrowActive .dijitDownArrowButton,
.dijit .dijitComboBoxActive .dijitDownArrowButton {
	/* active state - inner (for when you are pressing a normal button, or
	 * when a toggle button is in a depressed state
	 */
	border-color:#657c9c;
	background: #91b4e5 url("../images/buttonActive.png") top left repeat-x;
}


.dijit .dijitArrowButtonInner {
	background:url("../images/spriteArrows.png") no-repeat left top;
	width: 11px;
}
.dijit .dijitUpArrowButton .dijitArrowButtonInner { 
	background:url("../images/spriteArrows.png") no-repeat -22px top; 
	width: 11px;
}
.dj_ie6 .dijit .dijitArrowButtonInner {
	background:url("../images/spriteArrows.gif") no-repeat left top;
	width: 11px;
}
.dj_ie6 .dijit .dijitUpArrowButton .dijitArrowButtonInner {
	background:url("../images/spriteArrows.gif") no-repeat -22px top;
	width: 11px;
}
